

h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
    /* text-align: left;
    margin-left: -20em; */

}

header{
    text-align: center;
    width: 500px;
    text-align: center;


}
.fa-paper-plane:before{
    margin-right: -10em;
}

.timeLine{
    /* display: flex; */
    width: 500px;
    /* margin: 0 ;  */
    text-align: center;
    background-color: rgb(180, 179, 179);
}




.icon{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 3%;

}
.Name{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 3%;

}
.border_radius {
    border-radius: 20px/20px;
}