h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
    /* text-align: left; */
    margin-left: -20em;

}

img{

    width: 480px;
    height: 480px;
}
header{
    /* justify-content: flex-start; */
    text-align: center;
    width: 100%;
    border: solid 1px;
    border-style: groove;
    background-color: rgb(247, 199, 144);


}
.fa-paper-plane:before{
    margin-right: -10em;
}

.timeLine{
    /* justify-content: flex-start; */
    text-align: center;
    width: 100%;
    border: solid 1px;
    border-style: groove;
    background-color: rgb(170, 227, 250);

}


.fa-smile-wink{
    font-size: 2rem;
    margin-left: 10%;
    /* margin-right: 3%; */
       
}

